<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non aspernatur
      ex sit ipsam laboriosam? Consectetur modi harum similique, optio corrupti
      hic eum autem porro rem laboriosam saepe placeat, consequatur explicabo!
    </p>

    <a href="{% url 'posts:index' %}">Index Page</a>
  </body>
</html>
